body {
	font-family: sans-serif;
	font-size: 15px;
}

#title {
	background-color: rgba(255, 255, 255, 0.40);
	height: 96px;
	width: 100%;
}

#logo {
	z-index: 1;
	position: fixed;
	margin-left: 0px;
	width: 169px;
	height: 96px;
}


#heading {
	font-size: 1em;
	padding-left: 169px;
	margin-top: 15px;
}

#name {
	width: 100%;
	color: white;
	font-size: 32px;
	text-align: center;
	font-family: serif;
	background-color: navy;
	position: fixed;
	height: 96px;
}

#nav-trigger {
	z-index: 1;
	position: fixed;
	margin-top: -42px;
	margin-left: 176px;
	display: none;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: lightsteelblue;
	color: black;
	padding: 6px;
	border-radius: 5px;

}

#nav-trigger:hover {
	background-color: white;
}

#nav-mobile {
	display: none;
	text-align: center;
	background-color: navy;
	position: fixed;
	margin: 0px 75% 30px 0px;
	width: 169px;
	height: 100%;
	overflow: scroll;
}

#nav-mobile ul {
	padding-bottom: 150px;
}

#nav-mobile li:hover {
	background-color: white;
}

#menubar {
	text-align: center;
	background-color: navy;
	position: fixed;
	margin: 0px 75% 30px 0px;
	width: 169px;
	height: 100%;
	overflow: scroll;
}

#menubar ul {
	padding-bottom: 150px;
}

.menu {
	font-family: sans-serif;
	font-size: 15px;
	background-color: lightsteelblue;
	color: black;
	padding: 5px;
	margin: 20px 10px 0px 10px;
	border-radius: 5px;
}

.menu:hover {
	background-color: white;
}

.expanded {
	display: block;
}

#container {
	margin: 0px 0px 30px 169px;
	}

.context {
	z-index: -1;
	padding: 0px 20px 20px 20px;
}

#background {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -2;
	background: url('images/highlands2.jpg') no-repeat center center fixed;
	background-size: cover;
	opacity: 0.3;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
}

#info {
	display: none;
}

#Member {
	display: none;
}

#Contact {
	display: none;
}

a {
	color: black;
	text-decoration: none;
}

td {
	font-size: 12px;
	border: 2px solid navy;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	min-width: 55px;
}

 p {
 	padding-bottom: 8px;
 }

 h1 {
	padding-top: 10px;
	padding-bottom: 8px;
	text-decoration: underline;
 }

 h2 {
 	padding-top: 12px;
 	text-align: center;
 	font-style: italic;
 	font-weight: bold;
 }

 form {
 	padding-top: 24px;
 }

 .form-field {
 	padding-bottom: 12px;
 }

 input {
 	margin-left: 12px;
 	border-radius: 8px;
 	font-size: 15px;
 }

 form p {
 	float: left;
 }

 .message {
	margin-left: 12px;
	border-radius: 4px;
 }

#footer {
	z-index: 1;
	background-color: rgba(255, 255, 255, 1.0);
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	color: MidnightBlue;
	font-size: 12px;
}

#footer p {
	margin-top: 8px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 650px){
	 #nav-trigger {
	 	display: block;
	}

	#heading {
		font-size: .75em;
	}

	#menubar {
	    display: none;
	}

	#container {
		margin: 0px 0px 30px 0px;
	}

}